org.luisfelipe.exemplo.filesystem.diagram/*
org.luisfelipe.exemplo.filesystem/src/*
org.luisfelipe.exemplo.filesystem/model/*
!*.emf
org.luisfelipe.exemplo.filesystem.edit/*
org.luisfelipe.exemplo.filesystem.editor/*
.metadata/*
org.luisfelipe.exemplo.filesystem.tests/*
*.class
